.logo22{
    height: 12px;
}

.logo22 img{
    width: 90%;
    height: 50%;
}


@media (max-width: 768px) {
  
    .logo22{
        height: 12px;
    }
    
    .logo22 img{
        width: 30%;
        height: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
  
    .logo22{
        height: 12px;
    }
    
    .logo22 img{
        width: 20%;
        height: 20%;
    }
    
}


  
@media (max-width: 992px) {
  
    .logo22{
        height: 20%;
    }
    
    .logo22 img{
        width: 15%;
        height: 15%;
    }
}

@media (min-width: 1200px) {
  
    .logo22{
        height: 12px;
    }
    
    .logo22 img{
        width: 60%;
        height: 70%;
    }
}